<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" type="text/css" th:href="@{header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style.css}">
</head>
<body>
<header></header>
<div>
    <h1>Weather Forecast</h1>
    <h1>Weather Forecast</h1>
    
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Temperature</th>
                <th>Feelslike</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="data : ${weatherDataList}">
                <td th:text="${data.datetime}"></td>
                <td th:text="${data.temperature}"></td>
                <td th:text="${data.feelslike}"></td>
            </tr>
        </tbody>
    </table>
    
    


</div>

</body>
</html>
